.button-container {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.color-primary {
    color: #352315 !important; /* Marrón claro estilo pergamino */
}

.m-auto {
    margin: auto !important;
}

.book-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to right,
        #3e2b1d 0%,
        /* Lomo de cuero oscuro */ #7d5c3c 18%,
        /* Tono envejecido de madera */ #b19b7b 50%,
        /* Páginas amarillentas */ #7d5c3c 82%,
        /* Tono envejecido de madera */ #3e2b1d 100% /* Lomo de cuero oscuro */
    );
    box-shadow:
        inset 0 0 50px rgba(0, 0, 0, 0.5),
        0 0 20px rgba(0, 0, 0, 0.3);
    border: 5px solid #5a3a1f;
    border-radius: 15px;
    overflow: hidden;
}

.book-spine {
    position: absolute;
    width: 15%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        #4b3221 0%,
        /* Lomo de cuero más oscuro */ #8d5e3c 40%,
        /* Tono de cuero envejecido */ #4b3221 100% /* Lomo de cuero más oscuro */
    );
    left: 50%;
    transform: translateX(-50%);
    box-shadow:
        inset 0 0 30px rgba(0, 0, 0, 0.7),
        0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.medieval-button {
    padding: 7px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #8b4513;
    border: 3px solid #d2691e;
    border-radius: 12px;
    font-family: "Garamond", serif;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.medieval-button:hover {
    background-color: #a0522d;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.medieval-button:after {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #d2691e;
    font-weight: bold;
}

.medieval-button:active {
    transform: scale(0.98);
}

#btn-next {
    height: 30px !important;
    padding: 5px 0 25px 0 !important;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    z-index: 999999;
}

#main-page-content {
    margin-top: -30px;
}

/* Estilo del overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    z-index: 1000;
}

/* Estilo del contenido dentro del overlay */
.overlay-content {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-top: auto;
}


/* Ocultar el contenido principal al inicio */
.hidden {
    display: none;
}

.img-page-left{
    width: 220px;
}

#play-audio{
    padding: 10px 60px 10px 60px;
    font-size: 50px;
    font-family: "Slackey", serif !important;
}

#first-img{
    margin-top: auto;
    margin-bottom: 0;
    max-width: 460px !important;
}

.jump-button {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.jump-button:hover {
    animation: none;
}

.first-letter {
    font-size: 60px !important;
    font-weight: bolder !important;
}

#container-fireworks{
    position: absolute !important;
    width: 100%;
    height: 100%;
    z-index: 90;
}

#about-me{
    position: absolute;
    top: auto;
    bottom: 20px;
    left: auto;
    right: auto;
    color: white;
    display: flex;
}

#about-me img{
    width: 25px;
    margin-right: 2px;
    margin-top: -3px;
}